@import "variables.scss";
@import "./content.scss";
.card_title{
    font-family: Helvetica;
    background:$desert_black;
    color:$desert_tan;
    padding: 1rem 0;
    box-sizing:border-box;
    border: .2rem solid $desert_black;
    font-size:1.5rem;
    font-weight: bold;
}
.card_content_container {
    background-color:$desert_tan;
    //border-radius: .4rem;
    display:inline-block;
    box-sizing:border-box;
    border: .2rem solid $desert_black;
    margin: 0;
    padding:1rem;
}
.card_content{
    display:inline-block;
    font-family: Helvetica;
    background: $desert_white;
    padding: 1rem;
    //border-radius: .4rem;
    color: $desert_black;
    border: .2rem solid $desert_plum;
    box-sizing: border-box;
}
.card_content {
    text-align: left;
}


@media only screen and (min-width: $medium_screen) {
    .card_content_container{
        width:400px;

    }
    .card_title{
        width:400px;
    }
}
@media only screen and (max-width: $medium_screen) {
    .card_content_container{
        width:400px;
    }
    .card_title{
        width:400px;
    }
}

@media only screen and (max-width: $medium_screen) {
    .card_content_container{
        width:350px;
        padding: .5rem;

    }
    .card_title{
        width:350px;
    }
}
@media only screen and (max-width: $mini_screen) {
    .card_content_container{
        width:280px;
        padding: .5rem;

    }
    .card_title{
        width:280px;
    }
}