//desert scheme
$desert_orange: #FFA500;
$desert_white:#fefcf1;
$desert_tan: #FFF3DD;
$desert_black: #040404;
$desert_plum:#AF767C;
$desert_plum_callout:#C79FA3;


//color scheme
$scheme_silver_grey: #848995;
$scheme_blue:#456687;
$scheme_blue_grey:#8791A7;
$scheme_offwhite:#E8E6E9;
$scheme_red:#AF767C;
$scheme_dark_blue:#133A57;
//screen breakpoints
$large_screen:1200px;
$medium_screen:1000px;
$tablet_screen:800px;
$small_screen:720px;
$phone_screen:480px;
$mini_screen:400px;